option_settings:
  aws:elasticbeanstalk:application:environment:
    JWT_SECRET: ${{ secrets.JWT_SECRET }}
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    FLATICON_API_KEY: ${{ secrets.FLATICON_API_KEY }}
    OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
